:root{
    --lime-050: #F9FBE7;
    --lime-100: #F0F4C3;
    --lime-200: #E6EE9C;
    --lime-300: #DCE775;
    --lime-400: #D4E157;
    --lime-500: #CDDC39;
    --lime-600: #C0CA33;
    --lime-700: #AFB42B;
    --lime-800: #9E9D24;
    --lime-900: #827717;

    --lime-A100: #F4FF81;
    --lime-A200: #EEFF41;
    --lime-A400: #C4FF00;
    --lime-A700: #AEEA00;
}

html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Thin', sans-serif;
    font-family: 'Roboto Light', sans-serif;
    font-family: 'Roboto Medium', sans-serif;
    font-family: 'Roboto Black', sans-serif;
    font-size: 150%;
    font-weight: 300;
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: linear-gradient(236deg, var(--lime-300), var(--lime-200));
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container{
    border: 8px solid var(--lime-900);
    border-radius: 20px;
    background-color: var(--lime-200);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 3rem;
    text-shadow: 3px 3px 3px #33691e;
    width: 100%;
    background-color: var(--lime-800);
    color: var(--lime-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    background-color: var(--lime-050);
    width: 100%;
    height: 1.5rem; 
    margin: 0%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > p{
    margin: 0 15%;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    color: #33691e;
    animation: run 5s ease-in 1.5s infinite alternate ;
}

@keyframes run{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(50%);

    }
}

.board{
    margin-bottom: 1rem;
    border: 2px solid var(--lime-800);
    display: grid;
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
    grid-template-rows: repeat(3, minmax(4rem, 1fr));
}

.cell{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid var(--lime-800);
    background-color: var(--lime-300);
    color: var(--lime-900);
    font-size: 0.2rem;
    font-weight: bold;
    cursor: pointer;
}

.player-img{
    width: 2rem;
    height: 2rem;
}

.btn{
    background-color: var(--lime-900);
    color: var(--lime-200);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 100vh;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
}

.disabled{
    cursor: not-allowed;
}

.modal{
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    border: none;
    justify-content: center;
    align-items: center;
}

.modal::backdrop{
    background-color: #827717;
    opacity: 0.5;
}

form{
    margin: 0;
    width: 20.4rem;
    padding: 5px;
    background-color: var(--lime-300);
    border: 2px solid var(--lime-900);
    color: var(--lime-900);
    text-align: center;
}
.form{
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    gap: 10px;
}

h5{
    margin: 0;
    font-size: 0.7rem;
    text-align: center;
    text-decoration: underline;
    
}

fieldset{
    border: 2px solid var(--lime-900);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.name, div.sign{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

label{
    width: 20%;
    font-weight: bold;
    font-size: 0.6rem;
}

input{
    width: 70%;
    border: none;
    background-color: var(--lime-100);
    padding: 5px;
    font-size: 0.5rem;
    font-weight: bold;
}

input:focus{
    outline: 2px solid var(--lime-800);
}

select{
    font-weight: bold;
}

input[type='submit']{
    width: 40%;
    margin: 20px;
    margin-left: auto;
    /* margin-right: auto; */
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--lime-400);
    background-color: var(--lime-900);
    border-radius: 30px;
    padding: 5px 10px;
}

.modal-1{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: var(--lime-900);
    opacity: 0.5;
}

.splash{
    background-color: white;
    color: var(--lime-900);
    width: 100%;
    padding: 5px;
}

.win-draw{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 3px 3px 3px var(--lime-A700);
}

.modal-1 > main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal-1 > main > button{
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    color: var(--lime-900);
    

}

.modal-1 > main > button:hover{
    color: rgb(255, 255, 255);
    background-color: var(--lime-900);
    border: 2px solid white;
}